<ion-header>

  <ion-navbar>
    <ion-title>people</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="load($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <button ion-button block (click)="goForm()">
    Add
  </button>

  <ion-item *ngFor="let person of people;" >
    {{ person.name }}
    <button item-right ion-button icon-only clear (click)="goForm(person, i)">
      <ion-icon name="create"></ion-icon>
    </button>
    <button item-right ion-button icon-only clear color="danger" (click)="remove(person.id)">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-item>

</ion-content>
