<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" (submit)="save()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text"  formControlName="name"></ion-input>
    </ion-item>

    <ion-item-group formGroupName="lastname" >
      <ion-item>
        <ion-label>First Lastname</ion-label>
        <ion-input type="text" formControlName="first"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Second Lastname</ion-label>
        <ion-input type="text" formControlName="second"></ion-input>
      </ion-item>
    </ion-item-group>

    <ion-item>
      <ion-label>Age</ion-label>
      <ion-input type="number" formControlName="age"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select formControlName="gender">
        <ion-option [value]="genders.male">Male</ion-option>
        <ion-option [value]="genders.female">Female</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Active</ion-label>
      <ion-toggle formControlName="active"></ion-toggle>
    </ion-item>
    <button ion-button block type="submit" [disabled]="!form.valid">
      Save
    </button>
  </form>
  <ion-item text-wrap>
    {{ form.value | json }}
  </ion-item>
</ion-content>
